.sidebar {
  height: 100%;
  background-color: #f5f8fa;

  .sidebarNav {
    background-color: #fff;
  }

  .sidebarTabs > div {
    justify-content: space-between;

    .sidebarPanel {
      height: 50px;
      line-height: 50px;
    }
  }
}
