.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #F5F8FAce;
}

.loader div {
  margin: auto;
}
