html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, Icons16, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

:focus {
  outline: none;
}

.mxRubberband {
  position: absolute;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #0000ff;
  background: #0077ff;
}

.geBackgroundPage {
  box-shadow: 2px 2px 5px 1px #d1d1d1;
  border: solid
}

.geDiagramBackdrop {
  background-color: #f9f9f9;
}
.geDiagramContainer {
  font-size: 0px;
  outline: none;
}

#editor ::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
#editor ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px;
}
#editor ::-webkit-scrollbar-corner {
  background-color: transparent;
}
#editor ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 10px;
}
#editor ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
